version: '3.5'

services:
  ws-hex-web:
    container_name: ws-hex-web
    build:
      context: ./docker/nginx
      args:
        UID: $U_ID
    ports:
      - 1000:80
    volumes:
      - ./public:/appdata/www/public
    depends_on:
      - ws-hex-be
    networks:
      - ws-hex-network

  ws-hex-be:
    container_name: ws-hex-be
    build:
      context: docker/php
      args:
        UID: $U_ID
    volumes:
      - ./:/appdata/www
    ###> XDEBUG 3 ###
    # Use your client IP here
    # Linux: run "ip a | grep docker0"
    # Windows (with WSL2) and Mac: host.docker.internal
    environment:
      XDEBUG_CLIENT_HOST: 172.17.0.1
      XDEBUG_CLIENT_PORT: 9003
      PHP_IDE_CONFIG: serverName=docker-dev-env-for-symfony
    ports:
      - '1100:8000'
    networks:
      - ws-hex-network
    depends_on:
      - ws-hex-postgres
      
  ws-hex-postgres:
    container_name: ws-hex-postgres
    image: postgres:14-alpine
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: passwd
      POSTGRES_DB: postgres_symfony
    volumes:
      - ws-hex-pgsql-data:/var/lib/postgresql/data
    networks:
      - ws-hex-network

  ws-hex-mysql:
    container_name: ws-hex-mysql
    image: mysql:8.0.26
    ports:
      - '3336:3306'
    environment:
      MYSQL_DATABASE: mysql_symfony
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ws-hex-mysql-data:/var/lib/mysql
    networks:
      - ws-hex-network
    command: [ 'mysqld', '--character-set-server=utf8mb4', '--collation-server=utf8mb4_unicode_ci' ]

  ws-hex-rabbit:
    container_name: ws-hex-rabbitmq
    image: rabbitmq:3-management-alpine
    ports:
      - '5672:5672'
      - '15672:15672'
    networks:
      - ws-hex-network

volumes:
  ws-hex-pgsql-data:
  ws-hex-mysql-data:

networks:
  ws-hex-network:
#    external: true
